<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-size: 1rem;
            font-family: Calibri;
            margin: 15px;
            color: black;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
<p>Hello, {{companyName}}, </p><br><br>
<p>{{firstName}}  {{lastName}}, {{designation}} has applied for
    a {{leaveType}} for leave of {{leaveCount}} days from {{strDate}} to the
    {{endDate}}. </p>

<p> The reason provided for the leave is :- {{description}}.</p>
<p> Please do the needful regarding the same.</p>
<br><br><br>


<p> Regards,</p>


<p> EOM. </p>
</body>
</html>


